/*Global*/
:root{
  /*font-family*/
  --ff-general: 'Epilogue', 'sans-serif';
  
  /*color scheme*/
  --hue: 250;
  --bg-primary: hsl(var(--hue), 22%, 20%);
  --fc-primary: hsl(var(--hue), 0%, 100%);
  --fc-secondary: hsl(var(--hue), 50%, 80%);
  --fc-caption: hsl(var(--hue), 100%, 11%);

  /*font-size*/
  font-size: 62.5%;
  --fs-body: 1.6rem;
  --fs-heading: clamp(4rem, 1rem + 5vw, 5.6rem);
  --fs-heading-sm: clamp(2rem, 0.5rem + 5vw, 4rem);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--bg-primary);
  color: var(--fc-primary);
  font-family: var(--ff-general);
  font-size: var(--fs-body);
}

.page{
  max-width: clamp(33rem, 25rem + 65vw ,117rem);
  margin: 0 auto;
  padding: 5rem;
}

img{
  width: 100%;
  height: auto;
}

/*Header*/
header{
  text-align: center;
  margin: 10rem 0 8rem;
  animation-name: topdown;
  animation-duration: 700ms;
  /*animation: topdown 700ms;*/
}

header p{
  color: var(--fc-secondary);
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 2rem;
  line-height: 3.2rem;
  font-weight: 400;
}

header h1{
  font-size: var(--fs-heading);
  font-weight: 800;
  line-height: 4.8rem;
}

/*Main*/
main{
  display: grid;
  gap: 3.2rem;
  animation: downtop 700ms 350ms backwards;
  margin-bottom: 10.2rem;
}

.card{
  position: relative;
}

.card img{
  height: 41.6rem;
  object-fit: cover;
  border-radius: 0.6rem;
  transition: all 200ms;
  filter: brightness(0.5) saturate(1.5);
}

.card img:hover{
  transform: scale(1.1);
  opacity: 0.4;
}

.caption{
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  position: absolute;
  bottom: 5.2rem;
  left: 2.8rem;
}

.card p{
  display: flex;
  align-items: center;
  width: fit-content;
  background-color: var(--fc-primary);
  color: var(--fc-caption);
  border-radius: 2rem;
  padding: 0 1.6rem;
  height: 3.8rem;
  font-size: var(--fs-body);
}

.card h2{
  font-size: var(--fs-heading-sm);
}

/*Animations*/
@keyframes topdown{
  0%{
    opacity: 0;
    transform: translateY(-15px);
  }

  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop{
  0%{
    opacity: 0;
    transform: translateY(15px);
  }
  
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

/*Media*/
@media (min-width: 768px){
  /*.page{
    max-width: 117rem;
    padding: 13.5rem;
  }*/

  main{
    grid-template-columns: 1fr 1fr;
  }

}

@media(min-width: 930px){
  main{
    grid-template-areas: "a b b"
    "c c d";
  }
  main div:nth-child(1){
    grid-area: a;
  }
  main div:nth-child(2){
    grid-area: b;
  }
  main div:nth-child(3){
    grid-area: c;
  }
  main div:nth-child(4){
    grid-area: d;
  }
}